# Ignore everything in the specified data folder
/data/FLX_CH-Oe2_FLUXNET2015_FULLSET_2004-2023_1-3/
/data/fabio_2004_2023/

/data/FLX_CH-Oe2_FLUXNET2015_FULLSET_2004-2023_1-3/FLX_CH-Oe2_FLUXNET2015_ERAI_HH_1981-2023_1-3.csv


# /07_prepare_CN_model_data.Rproj

/.DS_Store
*/.DS_Store
*/*/.DS_Store
/.*
/.Rproj.user/

